<div id="ChatRoomCustoms" ng-controller="WindowController">
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-md-4 bg-white ">
                <!-- accordion starts here -->
                <uib-accordion>
                    <!-- members list start from here ================================= -->
                    <div uib-accordion-group class="panel-default member-pane">
                        <uib-accordion-heading>
                            <i class="fa fa-caret-square-o-right"></i> Members
                        </uib-accordion-heading>
                        <!-- friends list start from here -->
                        <ul class="friend-list">
                            <li class="bounceInDown" ng-repeat="member in userInfos">
                                <a class="clearfix" ng-click="talkTo(member, $index)" ng-class="{'backgroundColorChange': $index === memberIndex}">
                                    <i ng-class="{'fa fa-commenting':member.active,'fa fa-comment-o':!member.active}"></i> &nbsp;

                                    <img ng-src="{{member.image}}" class="img-circle">

                                    <div class="friend-name">
                                        <strong>&nbsp; {{member.username}}</strong>
                                    </div>
                                    <div class="last-message text-muted"></div>
                                    <small class="time text-muted"></small>
                                    <small class="chat-alert label label-danger"><i class="fa fa-envelope" ></i></small>

                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- members list ends here -->

                    <!-- groups list starts here -->
                    <div uib-accordion-group class="panel-default">
                        <uib-accordion-heading>
                            <i class="fa fa-caret-square-o-right"></i>Groups
                        </uib-accordion-heading>
                        <ul class="friend-list">
                            <!-- class="active" can be added -->
                            <li class="bounceInDown" ng-repeat="channel in groups">
                                <a class="clearfix" ng-class="{'backgroundColorChange': $index === groupIndex}">
                                    <img src="img/group.ico" class="img-circle"> &nbsp;
                                    <div class="last-message text-muted">
                                        <strong>&nbsp;&nbsp; {{channel.groupName}} &nbsp;</strong>
                                        <!--<input id="channel{{$index}}" type="text" ng-show="channel.password != null" size="16" placeholder="Password" value="" /> -->
                                        <button type="button" class="btn-xs btn-info" ng-show="channel.password != null && channel.password !== $scope.groupPassword.password" ng-click="open(channel, $index)">Enter</button>
                                        <button type="button" class="btn-xs btn-success" ng-show="channel.password == $scope.groupPassword.password && chatNow" ng-click="openContent(channel, $index)">Join</button>
                                        <!--============================ Modal shows here=========================== -->
                                        <script type="text/ng-template" id="myModalContent.html">
                                            <div class="modal-header">
                                                <h3 class="modal-title">Please enter the password</h3>
                                            </div>
                                            <div class="modal-body">
                                                <input type="password" value="" ng-model="groupPassword.password" />
                                                <br>
                                                <span ng-show="messageShow"><p><i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red"></i> &nbsp; {{errorMessage}}</p></span>
                                                <span ng-show="successMessage"><p><i class="fa fa-check" aria-hidden="true" style="color:#1EA277"></i> &nbsp; {{successMessage}}</p></span>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" type="button" ng-click="ok()" ng-if="!iconLoading">Submit</button>
                                                <i class="fa fa-spinner fa-pulse fa-2x fa-fw" ng-if="iconLoading"></i>
                                                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                                            </div>
                                        </script>
                                        <!--============================ Modal ends here=========================== -->
                                    </div>
                                    <!-- Modal shows here -->
                                    <small class="time text-muted"></small>
                                    <small class="chat-alert label label-danger" ng-show="channel.password !== null"><i class="fa fa-lock" aria-hidden="true"></i></small>
                                    <small class="chat-alert label label-success" ng-show="channel.password == null"><i class="fa fa-unlock" aria-hidden="true"></i></small>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div uib-accordion-group class="panel-default">
                        <uib-accordion-heading>
                            <i class="fa fa-caret-square-o-right"></i>Create a Group
                        </uib-accordion-heading>


                        <!-- Create a new group form -->
                        <div class="col-md-9 col-md-offset-1">
                            <form role="form" ng-submit="onSubmit()">
                                <div class="form-group">
                                    <label for="newGroup">Group Name:</label>
                                    <input type="text" class="form-control" placeholder="Create a new Group" ng-model="group.name"> {{name}}
                                </div>
                                <div class="form-group">
                                    <label for="groupPassword">Password:</label>
                                    <input type="password" class="form-control" ng-model="group.password" placeholder="Password for this group">
                                    <label ng-show="!notNullMessage && !successCreate"><i class="fa fa-star" aria-hidden="true"></i> &nbsp; If you want this group going to be public, just make sure the password is blank. Otherwise, create a password.</label>
                                    <label ng-show="notNullMessage"><i class="fa fa-exclamation-triangle" style="color: red"> </i>&nbsp; {{notNullMessage}}</label>
                                    <label ng-show="successCreate"><i class="fa fa-sign-language" style="color: red"> </i>&nbsp; {{successCreate}}</label>
                                </div>
                                <button type="submit" class="btn btn-success">New Group</button>
                            </form>

                        </div>
                    </div>
                </uib-accordion>

                <!-- =============================================================== -->
                <!-- accordion ends here -->

            </div>

            <!--=========================================================-->
            <!-- chatting history -->
            <div class="col-md-8 bg-white tab-pane">
                <div class="chat-message" id="ChatMessage">
                    <ul class="chat">
                        <li ng-repeat="single in chatHistorys track by $index" ng-class="{'left clearfix':single.from !== DataService.userInfo.id, 'right clearfix': single.from === DataService.userInfo.id}">
                            <span ng-class="{'chat-img pull-left':single.from !== DataService.userInfo.id, 'chat-img pull-right' : single.from === DataService.userInfo.id}">
                                <img ng-show="single.from !== DataService.userInfo.id" ng-src="{{ groupClick === true ?userImagesForGroup[$index] : talkToImage }}">
                                <img ng-show="single.from === DataService.userInfo.id" ng-src="{{DataService.userInfo.image}}">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font" ng-show="single.from !== DataService.userInfo.id">{{memberName == null ? userNameForGroup[$index] : memberName}}</strong>
                                    <strong class="primary-font" ng-show="single.from === DataService.userInfo.id">{{DataService.userInfo.username}}</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>a while ago..</small>
                                </div>
                                <p>
                                    {{single.message}}
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="chat-box bg-white">
                    <div class="input-group">
                        <input ng-show="!groupClick" class="form-control border no-shadow no-rounded" placeholder="Type your message here" ng-model="inputMessage" ng-keypress="$event.which === 13 && sendMessage()">
                        <input ng-show="groupClick" class="form-control border no-shadow no-rounded" placeholder="Type your message here" ng-model="inputGroupMessage" ng-keypress="$event.which === 13 && groupSendMessage()">
                        <span class="input-group-btn">
                            <button ng-show="!groupClick" class="btn btn-success no-rounded" type="button" ng-click="sendMessage()">Send Single</button>
                            <button ng-show="groupClick" class="btn btn-info no-rounded" type="button" ng-click="groupSendMessage()">Send Group</button>
            		</span>
                    </div>
                    <!-- /input-group -->
                </div>
            </div>
        </div>
    </div>
</div>